Algebra of programming
Functional pearls
Haskell Semantics and Design Spaces
History
Misc Parametricity
Misc TypeChecking + PLT
Propositions as Types
The Beginning: The Eugenio Moggi Papers
Type Systems